Source: python-openstackclient
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: gustavo panizzo <gfa@zumbi.com.ar>, Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: cliff-tablib,
                     python-babel,
                     python-cinderclient (>= 1:1.1.0),
                     python-cliff,
                     python-coverage,
                     python-crypto,
                     python-fixtures,
                     python-glanceclient (>= 1:0.15.0),
                     python-hacking,
                     python-keyring,
                     python-keystoneclient (>= 1:1.1.0),
                     python-mock,
                     python-neutronclient (>= 2.3.11),
                     python-novaclient,
                     python-oslo.config (>= 1:1.9.0),
                     python-oslo.i18n (>= 1.3.0),
                     python-oslo.serialization (>= 1.2.0),
                     python-oslo.utils (>= 1.2.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-oslotest (>= 1.2.0),
                     python-requests,
                     python-requests-mock (>= 0.5.1),
                     python-six (>= 1.9.0),
                     python-stevedore (>= 1.1.0),
                     python-testtools,
                     python-webob,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-openstackclient.git
Vcs-Git: git://anonscm.debian.org/openstack/python-openstackclient.git
Homepage: http://wiki.openstack.org/OpenStackClient

Package: python-openstackclient
Architecture: all
Depends: cliff-tablib,
         python-babel,
         python-cinderclient (>= 1:1.1.0),
         python-cliff,
         python-crypto,
         python-glanceclient (>= 1:0.15.0),
         python-keyring,
         python-keystoneclient (>= 1:1.1.0),
         python-neutronclient (>= 2.3.11),
         python-novaclient,
         python-oslo.config (>= 1:1.9.0),
         python-oslo.i18n (>= 1.3.0),
         python-oslo.serialization (>= 1.2.0),
         python-oslo.utils (>= 1.2.0),
         python-requests,
         python-six (>= 1.9.0),
         python-stevedore (>= 1.1.0),
         ${misc:Depends},
         ${python:Depends},
         ${sphinxdoc:Depends},
Recommends: ${python:Recommends}
Description: OpenStack Command-line Client
 python-openstackclient is a unified command-line client for the OpenStack APIs.
 It is a thin wrapper to the stock python-*client modules that implement the
 actual REST API client actions.
 .
 This is an implementation of the design goals shown in
 http://wiki.openstack.org/UnifiedCLI.  The primary goal is to provide
 a unified shell command structure and a common language to describe
 operations in OpenStack.
